In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('raw data.csv', index_col=[0])

In [5]:
df = df[df['InvoiceDate'] <= '2011-12-01 23:59:59']

In [6]:
df['TotalRevenue'] = df['Quantity'] * df['UnitPrice']

In [7]:
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalRevenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [ ]:
df.groupby(['CustomerID'], as_index=False)['InvoiceNo'].count()